


.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
}

body {
  background: #555555;
  font-family: Dosis;
  background: linear-gradient(#e66465, #9198e5);
  font-family: Arial;
  margin: 0;
  padding: 2em;
  font-family: Dosis;
  text-align: center;
  font-size: 1rem;
}

footer {
  color: white;
  text-align: center;
  background: #2D8BCF;
  padding: 2rem 0;
  color: white;
  font-size: 2rem;
  padding: .75rem;
  color: #FFB308;
  color: green
  color: #8AC8E1;



}
p {
  color: darkgreen;
  background-color: #EEC856;
  background-color: #EEE8D6;
}

.container {
  height: 100vh;
}

.circle {
  width: 200px;
  height: 200px;
  border: 10px solid darkblue;
  border-radius: 50%;
  background-image: url('http://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {

   text-align: center;
   font-size: 5rem;

}

h2 {
  font-size: 3rem;
  font-family: Dosis;
  src: url(sansation_light.woff);
  width: 160px;
  height: 100px;
  padding: 20px;
  text-align: center;
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: pink;
  box-shadow: 10px 10px 5px #aaaaaa;
   display: flex;


}


p.double {border-style: double;}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}



.background h1 {
  font-size: 15vmin; /* what what? */
  text-shadow: 2px 2px 20px black;
}

.background {
  width: 100vw;
  height: 50vh;
  color: white;

  background-image: url(http://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  height: 50vh;
}

.circle {
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%;
  background-image: url('http://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 10px 10px 20px rgba(0,0,0,.4);
}




.content-box {
  box-sizing: content-box;

}

.border-box {
  box-sizing: border-box;

}



.container-box {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-container {
  background: #839496;
  margin: 0 auto;
    border-radius: 30px;
  text-align: center;
  width: 100%;
}

.my-link {
  display: inline-block;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background: #839496;
}

 .h1{
     font-family: Dosis;
     src: url(sansation_light.woff);
 }
  .double {border-style: double;}


.topbanner {
  background: url("https://cdn.shopify.com/s/files/1/1657/9951/products/Voutsa-Koi-Gold-Wallpaper_800x.jpg?v=1504972678") #99E repeat-y fixed;
}

.navigation {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #00b7f5;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }

  .header {
    background: tomato;
  }

  .footer {
    background: lightgreen;
  }

  .main {
    text-align: left;
    background: deepskyblue;
  }

  .aside-1 {
    background: gold;
  }

  .aside-2 {
    background: hotpink;
  }

  @media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }

  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }



    .parent {
      display: flex;
      height: 300px;
    }

    .child {
      width: 100px;
      height: 100px;
      margin: auto;
    }

    * {
        box-sizing: border-box;
    }



    .header {
        padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
    }

    .navbar {
        display: flex;
        background-color: #333;
    }


    .navbar a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }


    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
    }


    .side {
        flex: 30%;
        background-color: #f1f1f1;
        padding: 20px;
    }


    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }


    .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }


    .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
    }

    @media (max-width: 700px) {
        .row, .navbar {
            flex-direction: column;
        }
    }

    .border-box {
      box-sizing: border-box;
    }



    .container-box {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }
