

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
}

.body {
  background: #555555;
}

.container {
  height: 100vh;
}

.circle {
  width: 200px;
  height: 200px;
  border: 10px solid darkblue;
  border-radius: 50%;
  background-image: url('http://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.h1 {
  font-size: 8rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}


body {
  background: linear-gradient(#e66465, #9198e5);
}

.background h1 {
  font-size: 15vmin; /* what what? */
  text-shadow: 2px 2px 20px black;
}

.background {
  width: 100vw;
  height: 50vh;
  color: white;

  background-image: url(http://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  height: 50vh;
}

.circle {
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%;
  background-image: url('http://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 10px 10px 20px rgba(0,0,0,.4);
}

  .h1{
  width: 160px;
  height: 80px;
  padding: 20px;
  border: 8px solid red;

  background: yellow;
}


.content-box {
  box-sizing: content-box;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}

.border-box {
  box-sizing: border-box;
  /* Total width: 160px
     Total height: 80px
     Content box width: 160px - (2 * 20px) - (2 * 8px) = 104px
     Content box height: 80px - (2 * 20px) - (2 * 8px) = 24px */
}

 .h1 {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.container-box {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-container {
  background: #;
  margin: 0 auto;
    border-radius: 30px;
  text-align: center;
  width: 100%;
}

.my-link {
  display: inline-block;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background: #839496;
}

.topbanner {
  background: url("https://cdn.shopify.com/s/files/1/1657/9951/products/Voutsa-Koi-Gold-Wallpaper_800x.jpg?v=1504972678") #99E repeat-y fixed;

 .text-shadow {
    text-shadow: 1px 1px 2px pink;
  }
  .h1{
      font-family: Dosis;
      src: url(sansation_light.woff);
  }

  .body {
      font-family: Dosis;
  }
  .double {border-style: double;}
